@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,300&display=swap');

html, body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-weight: 700;
    font-size: 32px;
}

.header .links {
    align-items: center;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

div {
    display:flex;
}

a {
    text-decoration: none;
}

.header a,
.header a:visited,
.header a:focus {
    color: grey;
    margin-left: 12px;
    font-size: 18px;
}

.header a:hover {
    color: white;
}

.header, .footer {
    background-color: #1F2937;
    align-self: stretch;
    padding: 12px 50px;
    align-content: center;
    min-height: 40px;
}

.page-container {
    padding: 12px 100px;
    align-items: stretch;
    flex: 1;
}

.hero.page-container {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #1F2937;
}

p.hero {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: white;
}

p.subtext {
    font-size: 18px;
    color: #E5E7EB;
    text-align: center;
}

button.hero {
    align-self: center;
    padding: 8px 25px;
    font-size: 15px;
    font-weight: 700;
    color: #E5E7EB;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: #3882F6;
    border: none;
    border-radius: 9px;
}

img.hero {
    height:auto;
    max-width: 100%;
    min-width: 200px;
    align-self: center;
}

.information.page-container {
    justify-content: space-between;
    flex-direction: column;
}

.title.text-box {
    font-size: 36px;
    font-weight: 600;
    padding: 20px;
}

.information.img-box {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.information .img-box {
    border: 2px solid black;
    margin-block: auto;
    min-width: 250px;
    min-height: 250px;
    flex: 0;
    gap: 20px;
}

.text-box {
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    align-content: center;
    justify-content: center;
    padding-right: 5%;
}

.text-box > p,
.text-box > h2 {
    margin: 2px 0;
}

.img-box {
    flex: 1;
    justify-content: center;
}

.logo {
    margin-right: auto;
    color: white;
}