@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,300&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-weight: 700;
    font-size: 32px;
}

.header .links {
    align-items: center;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

div {
    display:flex;
}

a {
    text-decoration: none;
}

.header a,
.header a:visited,
.header a:focus {
    color: grey;
    margin-left: 12px;
}

.header a:hover {
    color: white;
}

.header, .footer {
    background-color: #1F2937;
    align-self: stretch;
    padding: 12px 80px;
    align-content: center;
}

.page-container {
    padding: 12px 80px;
    align-items: stretch;
    flex: 1;
}

.hero.page-container {
    justify-content: space-between;
    flex-direction: row;
}

.information.page-container {
    justify-content: space-between;
    flex-direction: column;
}

.text-box {
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.img-box {
    flex: 1;
}

.logo {
    margin-right: auto;
    color: white;
}